$base-color: rgb(167, 164, 164);
$base-color-alpha: rgba(167, 164, 164, 0.4);
$accent-color: rgb(24, 204, 24);
$border-rad: 15px;

@mixin global-full_screen_container {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	padding: 5%;
}

@mixin global-container {
	background-color: $base-color-alpha;
	padding: 20px;
	border-radius: $border-rad;
	height: fit-content;
}

@mixin global-input {
	padding: 10px 5px;
	border-radius: $border-rad;
	margin: 15px 0;
}

@mixin global-button {
	padding: 15px 30px;
	border-radius: $border-rad;
	margin: 15px 0;
	width: fit-content;
}

@mixin global-label {
	font-size: 1.5rem;
	font-weight: 500;
	margin: 15px 0;
}

@mixin global-page-title {
	font-size: 2.4rem;
	font-weight: 500;
	margin: 15px 0;
}

@mixin global-navbar {
	width: 100%;
	display: flex;
	flex-direction: row;
	&_item {
		width: fit-content;
		padding: 10px 20px;
	}
	&_item:hover {
		cursor: pointer;
		background-color: grey;
		color: white;
	}
}

.App {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

.dashboard {
	@include global-full_screen_container;

	&__navbar {
		@include global-navbar;
	}

	&__profile {
		@include global-container;
		width: 80%;
		&_username {
			font-size: 2.5rem;
			font-style: italic;
		}
		&_detail {
			font-size: 1.2rem;
			&_detail {
				&_label {
					font-weight: 500;
				}
				&_value {
					font-style: italic;
				}
			}
		}
	}

	&__create {
		@include global-container;
		width: 80%;
		&_page-title {
			@include global-page-title;
		}
		&_form {
			display: flex;
			flex-direction: column;
			&_label {
				@include global-label;
			}
			&_input {
				@include global-input;
				width: 50%;
			}
			&_btn {
				@include global-button;
				background-color: $accent-color;
			}
			&_btn:hover {
				cursor: pointer;
				background-color: $base-color;
			}
		}
	}
}

.unauthorized {
	@include global-full_screen_container;
	background-image: url('./assets/backgrounds/bgc2.jpg');
	&__navbar {
		@include global-navbar;
	}
	&__login-screen {
		display: flex;
		align-items: center;
		justify-content: center;

		&_form {
			@include global-container;
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			&_label {
				@include global-label;
				align-self: center;
			}

			&_input {
				@include global-input;
				width: 50%;
				align-self: center;
			}

			&_button {
				@include global-button;
				align-self: center;
			}
			&_button:hover {
				cursor: pointer;
			}
		}
	}
}

.story {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;

	&__header {
		padding: 20px 50px;
		border-radius: $border-rad;
		background-color: $base-color;
		color: white;

		&_title {
			font-size: 2.5rem;
			font-weight: 700;
		}

		&_paragraph {
			font-size: 1.2rem;
			font-style: italic;
		}
	}

	&__content {
		margin: 20px 0;
		box-sizing: border-box;
		padding: 15px;
		display: flex;
		position: relative !important;
		background-color: $base-color;
		border-radius: $border-rad;

		&_paragraph {
			box-sizing: border-box;
			padding: 15px;
			text-align: justify;
			//position: relative !important;
			background-color: $base-color;
			border-radius: $border-rad;
		}
	}
}

.fixed-element {
	position: fixed;
	right: 1%;
	bottom: 1%;
	a {
		text-decoration: none;
	}
	&__btn {
		@include global-button;
		text-decoration: none;
		color: black;
		background-color: $base_color-alpha;
	}

	&__btn:hover {
		background-color: $base_color;
	}
}

.alert {
	z-index: 1111;
	color: white;
	position: fixed;
	bottom: 0;
	left: 50%;

	&__ERROR_MESSAGE {
		background-color: rgb(163, 73, 73);
		padding: 10px 20px;
		border-radius: $border-rad;
	}

	&__ERROR_MESSAGE:hover {
		background-color: red;
		cursor: pointer;
	}

	&__SUCCESS_MESSAGE {
		background-color: rgb(35, 156, 35);
		padding: 10px 20px;
		border-radius: $border-rad;
	}
	&__SUCCESS_MESSAGE {
		background-color: green;
		cursor: pointer;
	}
}
