.App {
	text-align: center;
	background-image: url('./assets//backgrounds/bgc1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	padding: 5%;
}

.header {
	padding: 20px;
	border-radius: 15px;
	background-color: rgb(167, 164, 164);
	color: white;
}

.header__title {
	font-size: 2.5rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
